[submodule "public"]
	path = public
	url = git@github.com:cjhgo/cjhgo.github.io.git
	branch = master
[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/xianmin/hugo-theme-jane.git
	branch = master
